body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:18px;
    background-color:beige;
    margin-left: 20px;
}
.gameinfo {
    margin-top: 10px;
    color:rgb(16, 80, 16);
}
#game-area{
    outline: 6px solid black;
    display: grid;
    width: 684px;
    grid-template-columns: repeat(19, auto)
}

.floor {
    width: 36px;
    height: 36px;
    padding: 0px;
    border: none;
    display: inline-block;
    background-image: url(resources/grass.png)
}
.goal {
    width: 36px;
    height: 36px;
    padding: 0px;
    border: none;
    display: inline-block;
    background-image: url(resources/banana.png)
}
.box {
    width: 36px;
    height: 36px;
    padding: 0px;
    border: none;
    display: inline-block;
    background-image: url(resources/Box.png)
}

.scorebox {
    width: 36px;
    height: 36px;
    padding: 0px;
    border: none;
    display: inline-block;
    background-image: url(resources/ScoreBox.png)
}

.wall {
    width: 36px;
    height: 36px;
    padding: 0px;
    border: none;
    display: inline-block;
    background-image: url(resources/bush.png)
}

.player {
    background-image: url(resources/Monkey.png)
}